# CAD files
test_CAD.pmdb

# Mesh files
*.h5
*.msh

# Simulation results
*.cas
*.dat

# Python
__pycache__/
*.pyc
*.pyo
HPCMESH.py
HPCSOLVE.py
BaseImagesHPC.py
DeltaSourceHPC.py

# Virtual environment
.HPC/

# Results
.results/

# Misc
.claude
New_Release.md
